@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=EB+Garamond&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body { 
    font-family: Cormorant, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-image: url(http://www.zingerbugimages.com/backgrounds/beige_parchment_paper_background_1800x1600.jpg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

/*headings and logo */

h1, h2 {
    font-family: EB Garamond, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}
#logo {
    float: left;
    font-size: 200%;
    letter-spacing: 2px;
    margin-left:30px;
}

 /* navagation links */

#header {
    background-color:#E6DDD3;
    height: 100px;
 }

#menu {
    font-size: 100%;
    letter-spacing: 1px;
}

#menu, #logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Home Images */

#home-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;  
}

#home-image {
    height:100%;
    max-width:100%;
    background-image: url('../images/Medicinal\ Flowers.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* About Us section */

#About-Us {
    height: 600px;
    padding: 50px;
}

#about-us-heading {
    padding: 30px;
    text-align: center;
    font-size: 150%;
    font-weight: 800;
    letter-spacing: 2px;
    
}

#we-care {
    width: 100%;
    margin: auto;
}
.about-us-p {
    font-size: 120%;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    margin:20px

}

/*Gallery Section */

#gallery {
    height: 600px;
    padding-top: 50px;
}
#Gallery-heading {
    text-align: center;
    font-size: 150%;
    font-weight: 800;
    letter-spacing: 2px;
}

#gallery-slideshow {
    height: 600px;
    width: 100%;
    background-color: red;
}


/* contact us */


/* where to find us */

#map-wrapper {
    height: 300px;
    width: 100%;
    margin-bottom: 100px;
}

#map {
    height: 600px;
    width: 100%;
    padding-bottom: 200px;
    border: none;
}

/* Footer Section */

#footer {
    background-color: #E6DDD3;
    height: 200px;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.social-networks {
    text-align:  center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 180%;
    margin: 1%;
    padding: 2%;
    padding-top: 5%;
    color: #3a3a3a;
}

footer, p {
    text-align: center;
    font-size: 120%;
    padding-top: 0%;
}